.body{
    background-image: linear-gradient(to right, rgb(111, 209, 176), #e2f37f);
}


.section{
    margin-top: 20px;
    margin-left: 30px;
    &-title{
        font-size: 50px;
        margin-bottom: 10px;
        color: orange;
    }
}

.list{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;

    &-title{
      color: greenyellow;
        
    }
   
    
    &-fav{
        display: flex;
        width: 100%;
        gap: 5px;
        padding: 20px;
        border: 3px solid white;
        justify-content: center;
    }
    &-normal{
        display: flex;
        gap: 5px;
        width: 100%;
        padding: 20px;
        border: 3px solid white;
        justify-content: center;
    }
    
}

.card{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgba(255, 255, 255, 0.767);
    color:white;
    text-align: center;
    border-radius: 15px;
    
 

    &-img{
        width: 100%;
        padding: 10px;
     
    }
}


.change{
    border: 3px solid rgba(248, 33, 105, 0.842);
    border-radius: 15px;
    color:rgba(248, 33, 105, 0.842);
    text-align: center;

}

.close{
    background-color: grey;
    color: white;
    font-size: 10px;
    border-radius: 50%;
    font-weight: 900;
    padding: 5px;
    

}

.input{
    border: none;
    background-color: rgba(255, 255, 255, 0.623);
    height: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    &-search{
        border: none;
        background-color: rgba(193, 248, 248, 0.849);
        padding: 5px;
        font-size: 15px;
        border-radius: 50px;
        width: 100px;
    }

}

.input-search:hover{
    width: 150px;
    border: 2px solid orange ;
 
  
}