@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';


.section{
    margin-top: 20px;
    margin-left: 30px;
    &-title{
        font-size: 35px;
        margin-bottom: 10px;
    }
}

.ul-section{
    margin-top: 15px;
    display: flex;
    gap: 100px;
}

.card{
    list-style: none;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid aquamarine;

    &-img{
        width: 50%;
        height: 50%;
    }
}

.hidden{
    display: none;
}